canvas {
	border-top: 1px solid black;
	margin: auto;
    /* width: 99.8%;
    height: 90vh; */
}

header{
	height: 70px;
	padding-left: 10px;
}

body{
    margin: 0px;
}

.coordIn{
    width: 41px;
}

table {
	display: inline;
}

button { 
	width: 100%;
}

#definition {
	width: 30px;
}


/* Avoid appearing arrows in number inputs */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}