canvas {
    border: 1px solid black;
    /* width: 99.8%;
    height: 90vh; */
}

header{
    height: 9vh;
}

body{
    margin: 0px;
}

.coordIn{
    width: 60px;
}

table {
	display: inline;
}

button { 
	width: 100%;
}