canvas {
	border-top: 1px solid black;
	margin: auto;
    /* width: 99.8%;
    height: 90vh; */
}

header{
	height: 70px;
	padding-left: 10px;
}

body{
    margin: 0px;
}

.coordIn{
    width: 60px;
}

table {
	display: inline;
}

button { 
	width: 100%;
}